<p-growl [value]="messages" sticky="sticky"></p-growl>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div>
        <label for="username">Username: </label>
        <input id="username" type="text"
               [(ngModel)]="model.username" #firstname="ngModel" name="username"
               pInputText>
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password"
               [(ngModel)]="model.password" #password="ngModel" name="password"
               pInputText>
    </div>
    <div>
        <label for="email">Email: </label>
        <input id="email" type="email"
               [(ngModel)]="model.email" #firstname="ngModel" name="email"
               pInputText>
    </div>
    <button pButton type="submit" label="Register"></button>
</form>
