<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="brandName" routerLink="/home">Welcome to Kinopoisk</span>
    <button mat-button>Films</button>
    <button mat-button>Actors</button>
    <span class="spacer"></span>

    <button *ngIf="!authService.isLoggedIn" mat-button routerLink='login' (click)='login()'>Login</button>
    <button *ngIf="!authService.isLoggedIn" mat-button routerLink='login' (click)='register()'>Register</button>
    <button *ngIf="authService.isLoggedIn" mat-button routerLink='login' (click)='logout()'>Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
