<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{actor.fullName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="actor.pictureUrl">
    <mat-card-content>
      <p>
        {{actor.biography}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile *ngIf="authService.isLoggedIn" [colspan]="1">
                <button *ngIf="!actor.isFavorite" mat-raised-button color="primary" (click)="addToFavorites()">Add to favorites</button>
                <button *ngIf="actor.isFavorite" mat-raised-button color="warn" (click)="deleteFromFavorites()">Delete from favorites</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1">
                <button mat-raised-button color="primary">More...</button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-actions>
  </mat-card>
  